* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row1,
.row2,
.row3 {
  display: flex;
  gap: 3rem;
  margin: 3rem;
  justify-content: center;
  position: relative;
  top: 50vh;
  flex-wrap: wrap;
}

.items {
  background-color: grey;
  font-size: 4rem;
  border-radius: 3px;
  width: 4rem;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 900px) {
  .row1,
  .row2,
  .row3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
